USE [master]
GO
/****** Object:  Database [LOJADB]    Script Date: 24/03/2025 14:39:30 ******/
CREATE DATABASE [LOJADB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LOJADB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LOJADB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LOJADB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LOJADB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LOJADB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LOJADB]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 24/03/2025 14:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[TELEFONE] [varchar](80) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 24/03/2025 14:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[EMAIL] [varchar](100) NULL,
	[TELEFONE] [varchar](80) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 24/03/2025 14:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[PRECO] [decimal](10, 2) NULL,
	[ESTOQUE] [int] NULL,
 CONSTRAINT [PK_PRODUTO] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUTOS]    Script Date: 24/03/2025 14:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTOS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](100) NULL,
	[PRECO] [decimal](10, 2) NULL,
	[ESTOQUE] [int] NULL,
 CONSTRAINT [PK_PRODUTOS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDA]    Script Date: 24/03/2025 14:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDA](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [datetime] NULL,
	[QUANTIDADE] [int] NULL,
	[FATURADO] [bit] NULL,
	[CODIGOCLIENTE] [int] NULL,
	[CODIGOPRODUTO] [int] NULL,
 CONSTRAINT [PK_VENDA] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDAS]    Script Date: 24/03/2025 14:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDAS](
	[CODIGO] [int] IDENTITY(1,1) NOT NULL,
	[DATA] [datetime] NULL,
	[QUANTIDADE] [int] NULL,
	[FATURADO] [bit] NULL,
	[CODIGOCLIENTE] [int] NULL,
	[CODIGOPRODUTO] [int] NULL,
 CONSTRAINT [PK_VENDAS] PRIMARY KEY CLUSTERED 
(
	[CODIGO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_CLIENTES] FOREIGN KEY([CODIGOCLIENTE])
REFERENCES [dbo].[CLIENTE] ([CODIGO])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK_CODIGO_CLIENTES]
GO
ALTER TABLE [dbo].[VENDA]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_PRODUTOS] FOREIGN KEY([CODIGOPRODUTO])
REFERENCES [dbo].[PRODUTO] ([CODIGO])
GO
ALTER TABLE [dbo].[VENDA] CHECK CONSTRAINT [FK_CODIGO_PRODUTOS]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_CLIENTE] FOREIGN KEY([CODIGOCLIENTE])
REFERENCES [dbo].[CLIENTES] ([CODIGO])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_CODIGO_CLIENTE]
GO
ALTER TABLE [dbo].[VENDAS]  WITH CHECK ADD  CONSTRAINT [FK_CODIGO_PRODUTO] FOREIGN KEY([CODIGOPRODUTO])
REFERENCES [dbo].[PRODUTOS] ([CODIGO])
GO
ALTER TABLE [dbo].[VENDAS] CHECK CONSTRAINT [FK_CODIGO_PRODUTO]
GO
/****** Object:  StoredProcedure [dbo].[altera_cliente]    Script Date: 24/03/2025 14:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[altera_cliente]
@codigo int,
@nome varchar(100),
@email varchar(100),
@telefone varchar(80)

AS
Update CLIENTE set nome = @nome, email = @email, telefone = @telefone Where codigo = @codigo
GO
/****** Object:  StoredProcedure [dbo].[Exclui_cliente]    Script Date: 24/03/2025 14:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create procedure [dbo].[Exclui_cliente]
@codigo int

AS 
delete from cliente where codigo = @codigo
GO
/****** Object:  StoredProcedure [dbo].[insere_cliente]    Script Date: 24/03/2025 14:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[insere_cliente]
@codigo int output,
@nome varchar(100),
@email varchar(100),
@telefone varchar(80)

AS 
INSERT INTO CLIENTE(NOME,EMAIL,TELEFONE)
VALUES (@nome, @email, @telefone)
SET @codigo = (SELECT @@IDENTITY)
GO
/****** Object:  StoredProcedure [dbo].[Seleciona_cliente]    Script Date: 24/03/2025 14:39:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Seleciona_cliente]
         @filtro varchar(100) = null
AS
Begin
     if @filtro IS Null
	    Select*from CLIENTE
else
        select*from cliente 
		where nome like '%' + @filtro + '%'
		or EMAIL like '%' + @filtro + '%'
		or telefone like '%' + @filtro + '%'
end  
GO
USE [master]
GO
